<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Data</title>
</head>
<body>
    <h1>GitHub Data</h1>
    <table border="1">
        <tr>
            <th>Repository Name</th>
            <th>Owner Login</th>
            <th>Stargazers Count</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
